# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Project specific
.lanuploaderc
uploads/

# OS
.DS_Store
Thumbs.db
Dockerfile*
/build/
/dist/
*.spec
*.db
